section{
	height: 800px;

}

.sectA{
	height: 800px;
	background-color: #55efc4
}

.sectB {
	background-color: #00b894;
}

.sectC {
	background-color: #00cec9;
}

.sectD {
	background-color: #81ecec;
}

p {
	font-size: 25px;

}

img{
 height: 500px;
 width:500px;
}

#plants{}

#potted_plants {}

#fruits{}
